<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-3">
    <div class="row">
        <div class="col-md-6  col-xl-4" style="width: 100%;">
            <div class="card-body credentialbox" >
                <h5 class="card-title">Login</h5>
                <form action="/login" method="POST" class="validated-form" novalidate>
                    <div class="mb-3" style="width: 100%;">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="username" autofocus required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3" style="width: 100%;">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>